.applied-jobs-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.applied-job-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default to 1 column */
}

/* For small screens (mobiles) */
@media only screen and (max-width: 600px) {
  .jobs-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* For medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .jobs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For large screens (laptops) */
@media only screen and (min-width: 901px) {
  .jobs-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.no-jobs-message {
  text-align: center;
  color: #666;
}

.error-message {
  color: red;
  text-align: center;
}