.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f2f1ec;
  border-radius: 12px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.login-form-container {
  margin-top: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.input-error {
  border-color: #dc3545;
}

.validation-error {
  color: #dc3545;
  font-size: 0.875em;
  margin-top: -5px;
  margin-bottom: 10px;
}

.error-message {
  color: #dc3545;
  font-size: 1em;
  margin-bottom: 15px;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background-color: #000; /* Set to black */
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #444; /* Slightly lighter on hover */
}
